body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    text-align: center;
}

html {
  box-sizing: border-box;
}
.column {
    float: center;
    margin-bottom: 16px;
    margin: 10px;
    width: 62%
}
.cd-header h1 {
  color: #ffffff;
  line-height: 150px;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 300;
}
.index-container{
    text-align:center;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
}
*, *:before, *:after {
    box-sizing: inherit;
}

h1{
    color: white;
    margin: auto;
    display: inline-block;
    height: 90px;
    font-size: 40px;
  }

.c1{
    color: black;
}

.about {
    background: rgba(147,186,189,255);
    padding: 8px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


.card {
    box-shadow: 0px 4px 8px 0 #b3b3b3f5;
    padding: 0 16px 0 16px;
    margin: 8px;
}
@media screen and (max-width: 650px) { */
    .column {
      float: center;
      margin-bottom: 16px;
      margin: 10px;
      width: 37%
    }
  }
  
