body {
    margin: 0;
    padding: 0;
    font-size: 15px;
  }
  nav {
    background-color: rgb(0, 40, 85);
    margin: 0;
    overflow: hidden;
    top: 0;
  }
  nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  nav ul li {
    list-style-type: none;
  }
  nav ul li a {
    color: white;
    margin: auto;
    display: inline-block;
    background-color: rgb(0, 40, 85);
    height: 75px;
    padding-right: 25px;
    padding-left: 25px;
    font-size: 25px;
  }


  nav ul li a:hover {
    background-color: rgb(234, 170, 0);
    color:rgb(0, 40, 85);
    
  }
  
  .left {
      justify-content: left;
  }
 
  .right {
    float: right;
    margin-right: 25px;
}

.profile {
        display: block;
        height: 59px;
        width: 59px;
        border-radius: 50%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: rgb(0, 40, 85);;
  padding: 12px 8px;
  display: block;
  text-align: left;
  font-weight: bolder;
}

.dropdown-content a:hover{
  color:rgb(234, 170, 0);
  text-decoration: underline;
  font-weight: bolder;
}

.dropdown-content li {
  background-color: rgb(234, 170, 0);
  list-style-type: none;
}

.dropdown-content li:hover{
  background-color: rgb(0, 40, 85);
  list-style-type: none;
}

.dropdown-item{
  color: white;
}


/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: rgb(0, 40, 85);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content{
  display: block;
}


.circle {
    border-radius: 50%;
    max-width:100%;
    max-height:100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }


  p2{
    color: white;
    margin: auto;
    display: inline-block;
    background-color: rgb(0, 40, 85);
    height: 75px;
    font-size: 25px;
  }


